<template>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Basic clocking stream</h5>
        </div>

        <div class="ibox-content">
            <div class="stream-small" v-for="clocking in clockings">
                <span :class="[ clocking.type === 'in' ? 'label-info' : 'label-danger' ]"
                      class="label"
                      v-text="clocking.type"></span>
                <span class="text-muted"> {{ clocking.time }} </span> / <a href="#">{{ clocking.employee }}</a>  Clock {{ clocking.type }}
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment-timezone';

    export default {
        data() {
            return {
                original: []
            }
        },

        created() {
            this.fetchClockings();

            events.$on('clocking', (data) => {
               this.original.unshift(data);
            });
        },

        computed: {
            clockings() {
                return this.original.map((item) => {
                    return {
                        type: item.type,
                        time: moment.utc(item.created_at)
                            .tz(moment.tz.guess())
                            .format('MMMM Do YYYY, h:mm:ss a'),
                        employee: item.employee.name
                    }
                })
            }
        },

        methods: {
            async fetchClockings() {
                let { data } = await axios.get('/api/clockings', {
                    params: {
                        employee_id: App.user.employee_id
                    }
                });

                this.original = data;
            }
        }
    }
</script>