<template>
    <div :class="colorClasses" class="clocking widget" @click="toggle" v-cloak>
        <div class="row">
            <div class="col-xs-5">
                <i :class="iconClasses" class="fa fa-5x"></i>
                <br>
                <strong v-text="clockText"></strong>
            </div>
            <div class="col-xs-7 text-right">
                <span>Current Time</span>
                <h3 class="font-bold" v-text="currentTime"></h3>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        data() {
            return {
                clock_in: true,
                currentTime: ''
            }
        },

        mounted() {
            this.latestStatus();

            setInterval(this.updateTime, 500);
        },

        computed: {
            colorClasses() {
                return this.clock_in
                    ? 'lazur-bg'
                    : 'red-bg';
            },

            iconClasses() {
                return this.clock_in
                    ? 'fa-clock-o'
                    : 'fa-hand-paper-o';
            },

            clockText() {
                return this.clock_in
                    ? 'Clock In'
                    : 'Clock Out';
            }
        },

        methods: {
            async latestStatus() {
                let { data } = await axios.get('clocking-status', {
                    params: {
                        employee_id: App.user.employee_id
                    }
                });

                if (data) {
                    this.clock_in = data.type === 'out';
                } else {
                    this.clock_in = true;
                }
            },

            async toggle() {
                let method = null;
                let payload = null;
                let employeeId = App.user.employee_id;

                if (this.clock_in) {
                    method = 'post';
                    payload = { 'employee_id': employeeId };
                } else {
                    method = 'delete';
                    payload = { params: { employee_id: employeeId }};
                }

                let { data } = await axios[method]('/api/clockings', payload);

                this.clock_in = data.type === 'out';

                events.$emit('clocking', data);
            },

            updateTime() {
                this.currentTime = moment().format('h:mm:ss a');
            }
        }
    }
</script>

<style lang="scss">
    .clocking {
        cursor: pointer;
        &.lazur-bg {
            box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 10px 5px #999999;
            &:hover {
                background-color: #21b9bb;
                border-color: #21b9bb;
            }
        }
        &.red-bg {
            box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999999;
            &:hover {
                background-color: #ec4758;
                border-color: #ec4758;
            }
        }
    }
</style>