
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Variables, Mixins
@import "import/variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Footable
@import "~footable/css/footable.core.css";

// Animate CSS
@import "~animate.css/animate.css";

// Fontawesome
@import "~font-awesome/scss/font-awesome";

// Toastr
@import "~toastr/toastr";

// Theme Elements
@import "import/typography";
@import "import/navigation";
@import "import/top_navigation";
@import "import/buttons";
@import "import/badges_labels";
@import "import/elements";
@import "import/sidebar";
@import "import/base";
@import "import/pages";
@import "import/chat";
@import "import/metismenu";
@import "import/spinners";

// Media query style
@import "import/media";

// Custom style
@import "import/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
